//Layout
$max-width: 1200px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$marge: 15px;

//Typo
$font-default: 'Raleway', sans-serif;
$font-title: 'Raleway', $font-default;
$font-size-base: 75%;

//Colors
$gris: #bababa;
$marron: #9b552b;
$blanc: #fff;
$noir: #000;
$footer: #333333;
$footer2: #2d2c2c;
$link-color: $blanc;
